<div class="headertop <%- theme.bgclass %>">
  <div id="banner_wave_1"></div>
  <div id="banner_wave_2"></div>
  <figure id="centerbg" class="centerbg">
    <div class="focusinfo no-select">
      <div class="header-tou">
        <a href="<%- theme.url%>">
          <img src="<%- /^https?:\/\//.test(theme.avatar) || /^\/\//.test(theme.avatar) ? theme.avatar : (theme.cdn || '') + theme.avatar %>">
        </a>
      </div>
      <div class="header-info">
        <p><%= theme.description %></p>
                <div class="top-social_v2">
          <li id="bg-pre">
            <img class="flipx" src="<%- theme.cdn %>/img/other/next-b.svg">
          </li>
          <li>
            <a href="https://github.com/Eriri320" target="_blank" class="social-github" title="github">
              <img src="<%- theme.cdn %>/img/social/github.png">
            </a>
          </li>
          <li>
            <a href="https://weibo.com/u/7926671229" target="_blank" class="social-github" title="sina">
              <img src="<%- theme.cdn %>/img/social/sina.png">
            </a>
          </li>
          <li>
            <a href="https://space.bilibili.com/506709013" target="_blank" class="social-github" title="bilibili">
              <img src="<%- theme.cdn %>/img/social/bilibili.png">
            </a>
          </li>
          <li>
            <a href="https://www.zhihu.com/people/kawakaze-38" target="_blank" class="social-github" title="zhihu">
              <img src="<%- theme.cdn %>/img/social/zhihu.png">
            </a>
          </li>
          <li>
            <a href="https://mail.google.com/mail" target="_blank" class="social-github" title="email">
              <img src="<%- theme.cdn %>/img/social/email.svg">
            </a>
          </li>
          <li id="bg-next">
            <img src="<%- theme.cdn %>/img/other/next-b.svg">
          </li>
        </div>

      </div>
    </div>
  </figure>
  <div id="video-container" style="">
    <video style="object-fit: fill" id="bgvideo" class="video" video-name="" src="" width="auto" preload="auto">
    </video>
    <div id="video-btn" class="loadvideo videolive">
    </div>
    <div id="video-add">
    </div>
    <div class="video-stu">
    </div>
  </div>
  <div class="headertop-down faa-float animated" onclick="headertop_down()">
    <span>
      <i class="fa fa-chevron-down" aria-hidden="true">
      </i>
    </span>
  </div>
</div>